.sec{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    
    

}
.title{
    font-size: 3rem;
}

.imgPricipal{
    border-radius: 50%;
}