.tablero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.celda{
    color:#fff;
    font-size: 0px;
    min-height: 10px;
    min-width: 20px;
    max-width: 100px;
    max-height: 200px;
    margin: 0;
    padding: 0;
    background-color: #ed5565;  
}
.img-card-fondo{
    height: 100%;
    width: 100%;
}
.img-card-content{
    height: 100%;
    width: 100%;

}