.NavBarItems{
    background-color: aquamarine;
    height: 20%;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 10px; 
}
.nav-links{
    text-decoration-line: none;
    font-size: 1.2rem;
    color: black;
    text-emphasis: none;
}